In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv('Datasets/titanic.csv')

In [12]:
pd.crosstab(df['Embarked'], df['Sex'], normalize='index')

Sex         female      male
Embarked
C         0.434524  0.565476
Q         0.467532  0.532468
S         0.315217  0.684783

In [10]:
# What Percentage of femaile passangers Embarked from C
len(df[df['Embarked']=='C'])/len(df['Embarked'].dropna())

0.1889763779527559

In [14]:
pd.crosstab(df['Sex'], df['Embarked'], normalize='index')

Embarked         C         Q         S
Sex
female    0.233974  0.115385  0.650641
male      0.164645  0.071057  0.764298

In [13]:
# What Percentage of passangers Embarked from C
len(df[(df['Sex']=='female') & (df['Embarked']=='C')])/len(df[df['Sex']=='female'])

0.23248407643312102